* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 6rem;
  font-family: monospace;
  line-height: 1.8;
}

main {
  max-width: 52rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

section,
header {
  margin-bottom: 4rem;
}

section p {
  padding-left: 1rem;
}

p,
small,
li {
  font-size: 1.125rem;
}

ul {
  padding-left: 2rem;
}

li::marker {
  content: "· ";
  font-size: 1rem;
}

.irc span:first-child {
  color: #ff00ff;
}

.irc span:nth-child(2) {
  color: #9c009c;
}

.irc span:nth-child(3) {
  color: #00007f;
}

.irc span:nth-child(4) {
  color: #009393;
}

.irc span:nth-child(5) {
  color: #009300;
}

.irc span:nth-child(6) {
  color: #ff0000;
}

.irc span:last-child {
  color: #7f0000;
}
