:root {
  --text: #000;
  --text-light: #605568;
  --purple: #5b36a1;
  --link: #226db3;
  --border: #e0e0e0;
  --bg-light: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 6rem;
  font-family: 'Fira Mono', monospace;
  line-height: 1.8;
}

main {
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border);
}

.g {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.f {
  display: flex;
}

.f.\31 {
  flex: 1;
}

.f-icon {
  display: flex;
  flex: 0 0 10rem;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;

}

.f-icon img {
  max-width: 100%;
}

a,
a:hover,
a:visited,
a:active {
  color: var(--link);
  text-decoration: none;
}

.name {
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  margin-bottom: 4rem;
}

h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: normal;
  color: var(--purple);
}

p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

em {
  color: var(--purple);
  font-style: normal;
  font-weight: bold;
}

del {
  text-decoration-color: var(--purple);
}

mark {
  background-color: #e5ddf3;
}

.light:not(.light em) {
  color: var(--text-light);
}

section {
  margin-bottom: 6rem;
}

section img.full {
  max-width: 100%;
  border: 2px solid var(--border);
}

section img {
  display: block;
  margin-bottom: 2rem;
}

.readerwax {
  padding: 3rem;
}

.back em {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
