<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <link rel="icon" sizes="16x16" href="/images/favicon.svg">
  <link rel="stylesheet" href="/index.css">

</head>
<body>

  <header class="hide-small">
    <nav class="nav-left">
      <a href="about">About</a>
    </nav>
    <a href="/" class="coineagan">Coineagan</a>
    <nav class="nav-right">
      <a href="https://twitter.com/coineagan">Twitter</a>
    </nav>
  </header>

  <header class="hide-large">
    <nav class="nav-left">
      <a href="about">About</a>
    </nav>
    <a href="/" class="coineagan">C</a>
    <nav class="nav-right">
      <a href="https://twitter.com/coineagan">Twitter</a>
    </nav>
  </header>

  {{ content }}

  <footer>
    <a href="/" class="coineagan">Coineagan</a>
    <br>
    <a href="about" style="margin-right: 1rem;">About</a>
    <a href="https://twitter.com/coineagan">Twitter</a>
  </footer>
</body>
</html>



